.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #f4f4f4;
}

.label-title {
    -fx-font-size: 24px;
    -fx-text-fill: #2c3e50;
    -fx-font-weight: bold;
}

.btn-admin {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-background-radius: 8;
}

.btn-admin:hover {
    -fx-background-color: #2980b9;
}

.btn-logout {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-background-radius: 8;
}

.btn-logout:hover {
    -fx-background-color: #c0392b;
}


/*
.button {
    -fx-background-color: #007acc;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #005999;
}
*/

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

.text-field {
    -fx-background-radius: 5;
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.sidebar {
    -fx-background-color: #ffffff;
    -fx-padding: 10;
    -fx-spacing: 8;
    -fx-pref-width: 180;
}

.sidebar-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #c0392b;
    -fx-padding: 10 0 20 0;
}

.sidebar-button {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-alignment: center-left;
    -fx-graphic-text-gap: 10;
    -fx-padding: 8 12 8 12;
}

.sidebar-button:hover {
    -fx-background-color: #f1f1f1;
}

.topbar {
    -fx-background-color: #c0392b;
    -fx-padding: 10;
    -fx-spacing: 20;
}

.text-lbl-button {
    -fx-text-fill: #ffffff
}

.logout-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-padding: 5 10;
}

.logout-button:hover {
    -fx-background-color: white;
    -fx-text-fill: #c0392b;
}
